*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.3em;
  width: 300px;
  height: 440px;
  margin-top: 20px;
  border: 1px solid #141414;
  background-color: #34495e;
  border-radius: 5px;
  
  
}

.container .calculator{
  display: flex;
  gap: 1.2em;
}

.container .textArea .numbers{
  height: 60px;
  width: 254px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #141414;
  background-color: #ffffff;
}

.container .textArea .numbers .number{
  margin: 0px 15px 0px 0px;
  font-size: 1.7em;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container .calculator .column{
  display: flex;
  flex-direction: column;
  gap: 1em;
}


.container .calculator .column .reset{
  background-color: #e74c3c;
  color: #ffffff;
 }

.container .calculator .column .result{
 background-color: #2ecc71;
 color: #ffffff;
}

.container .calculator .column button{
  font-size: 1.3em;
  padding: 15px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-weight: 600;
  font-family: arial;
  transition: 400ms;
}

.container .calculator .column button:hover{
  font-size: 1.3em;
  padding: 15px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-weight: 600;
  font-family: arial;
  background-color: #ffffff8f;
  transition: 400ms;
}

.container  .calculator .column .operators{
  background-color: #3498db83;
  color: #ffffff69;
  transition: 400ms;
} 

.container  .calculator .column .operators:hover{
  background-color: #3498db;
  color: #ffffff;
  transition: 400ms;
} 
